@font-face {
  font-display: "fallback";
  font-family: "FuturaBold";
  src: local("FuturaBold"), url("../assets/fonts/FuturaBold.woff2");
}

@font-face {
  font-display: "fallback";
  font-family: "FuturaBook";
  src: local("FuturaBook"), url("../assets/fonts/FuturaBook.woff2");
}

@font-face {
  font-display: "fallback";
  font-family: "FuturaCondensed";
  src: local("FuturaCondensed"), url("../assets/fonts/FuturaCondensed.woff2");
}

@font-face {
  font-display: "fallback";
  font-family: "NewYork";
  src: local("NewYork"), url("../assets/fonts/NewYork.woff2");
}

@font-face {
  font-display: "fallback";
  font-family: "TimberWolf";
  src: local("TimberWolf"), url("../assets/fonts/TimberWolf.woff2");
}
